* {
	font-family: 'Slabo 27px', serif;
	color: #555F61;
}

body {
	width: 90%;
	margin: auto;
	background-image: url(mars.jpg);
	background-position: cover;
}


p, table, ul {
	font-size: 1.2em;
	color: #555F61;
	line-height: 150%;
	margin-top: 2em;
}

a {
	padding: 3px;
} 

a:link {
	color: #59e559;
}

a:visited {
	color: #b0f4b5;
}

a:hover {
	text-decoration: none;
	color: #555F61;
	background-color: #a6eaa8;
	border-radius: 3px;
}

q {
	display: block;
	width: 50%;
	margin: auto;
	font-size: 1.9em;
	background-color: #e5e5e5;
	border-radius: 3px;
	padding: 10px;
	padding-left: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
	font-style: italic;
	font-variant: small-caps;
}

.fermier {
	border-left: 3px solid #aa3311;
}

.villageois {
	border-left: 3px solid #e03a77;
}

header p {
	background-color: yellow;
}

em.mal {
	color: red;
}

em.bien {
	color: green;
}

tr:nth-of-type(even){
	background-color: grey;
}

tr:nth-of-type(odd){
	background-color: black;
}

li{
	padding-top: 30px;
}

li:nth-of-type(1){
	background-image: url(bien.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 30px;
}

li:nth-of-type(2){
	background-image: url(mal.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 30px;
}

li:nth-of-type(3){
	background-image: url(chat.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 30px;
}

blockquote{
		font-weight: bold;
}